In [1]:
import pandas as pd

# df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/22/content.csv')
df = pd.read_csv('./Data/fish.csv')
df.head()

   length   height   width
0     8.4     2.11    1.41
1    13.7     3.53    2.00
2    15.0     3.82    2.43
3    16.2     4.59    2.63
4    17.4     4.59    2.94

In [2]:
df.columns = ['length', 'height', 'width']

In [3]:
df.columns

Index(['length', 'height', 'width'], dtype='object')

In [4]:
y_col = ['length']
x_cols = ['height','width']
X = df[x_cols].values
y = df[y_col].values

In [5]:
len(df)

56

In [6]:
df.describe()

          length     height      width
count  56.000000  56.000000  56.000000
mean   27.892857   7.862143   4.745536
std     9.021668   2.878343   1.775006
min     8.400000   2.110000   1.410000
25%    21.825000   5.690000   3.520000
50%    25.300000   6.920000   4.155000
75%    36.625000  10.850000   6.450000
max    44.000000  12.800000   8.140000

In [15]:
import math
math.sqrt(4)
import scipy

In [8]:
(27.892857 - 7.862143) / ((9.021668 - 2.878343)/ math.sqrt(56))

24.399838524074895

In [9]:
import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

# model = smf.ols("length ~ height",data=df)
print(smf.ols("length ~ height",data=df).fit().summary())
# print(smf.ols("Lottery ~ Literacy", data=df).fit().summary())
# result = model.fit()
# result.predict([df[x_cols]])
# print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 length   R-squared:                       0.971
Model:                            OLS   Adj. R-squared:                  0.971
Method:                 Least Squares   F-statistic:                     1837.
Date:                Thu, 09 Mar 2023   Prob (F-statistic):           2.20e-43
Time:                        10:13:57   Log-Likelihood:                -102.57
No. Observations:                  56   AIC:                             209.1
Df Residuals:                      54   BIC:                             213.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.6047      0.603      5.980      0.000       2.396       4.813
height         3.0893      0.072     42.862      0.000       2.945       3.234
==============================================================================
Omnibus:                        0.547   Durbin-Watson:                   1.688
Prob(Omnibus):                  0.761   Jarque-Bera (JB):                0.553
Skew:                          -0.221   Prob(JB):                        0.759
Kurtosis:                       2.796   Cond. No.                         24.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [14]:
df.describe()

          length     height      width
count  56.000000  56.000000  56.000000
mean   27.892857   7.862143   4.745536
std     9.021668   2.878343   1.775006
min     8.400000   2.110000   1.410000
25%    21.825000   5.690000   3.520000
50%    25.300000   6.920000   4.155000
75%    36.625000  10.850000   6.450000
max    44.000000  12.800000   8.140000

In [13]:
statsmodels.stats.weightstats.ttest_ind(x1=df['length'],x2=df['height'])

(15.829015634041385, 3.986452287406845e-30, 110.0)

In [16]:
scipy.stats.ttest_ind(df['length'],df['height'])

Ttest_indResult(statistic=15.829015634041392, pvalue=3.986452287406675e-30)

In [25]:
9.021668**2

81.390493502224

In [18]:
1.2/2.3

0.5217391304347826

In [26]:
(27.892857 - 7.862143) / math.sqrt((9.021668**2) /56 + (2.878343**2)/56)

15.829015295420351

In [11]:
statsmodels.stats.weightstats.ttost_paired(x1=df['length'],x2=df['height']) # return (test-statistic,pvalue,deg of freedom)

TypeError: ttost_paired() missing 2 required positional arguments: 'low' and 'upp'

In [3]:
# 파이썬에서는 단일 표본 분산검정 or 단일 표본 카이검정 패키지가 없어서 커스텀해서 사용 / https://blog.naver.com/breezehome50/222334155742
from scipy import stats
import numpy as np

def chi_var_test(x, var0, alternative='two-sided'):
    lenth = len(x)
    chi_stat = (lenth-1) * np.var(x, ddof=1) / var0
    
    temp = stats.chi2.cdf(chi_stat, lenth-1)
    if alternative == 'two-sided':
        pval = 2*(1-temp) if temp > 0.5 else 2*temp
    elif alternative == 'greater':
        pval = 1 - temp
    elif alternative == 'less':
        pval = temp
    else:
        print("ERROR")
        
    return chi_stat, pval


# 1. 귀무가설 : 분산은 1.3이다. / 연구가설 : 분산은 1.3이 아니다

# 2. 양측 검정 시행
chi_stat, p_val = chi_var_test(df['content'], var0=1.3, alternative='two-sided')
print('p-value ',p_val)
print('statics ',chi_stat)

# 3. 검정통계량
# p-value는 4.2e-8로 유의수준 0.05수준에서 귀무가설을 기각하고 연구가설을 채택한다.

p-value  4.2726668647574684e-08
statics  328.2922980307293